In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame(np.random.randint(0,2,(50,5)),columns=['x1','x2','x3','x4','y'])

In [3]:
df

    x1  x2  x3  x4  y
0    1   0   1   1  0
1    1   0   0   0  1
2    1   1   0   0  1
3    0   1   0   0  0
4    0   1   0   1  1
5    0   0   1   1  1
6    1   1   0   0  1
7    1   0   1   1  0
8    1   0   0   1  0
9    1   0   1   0  0
10   1   0   0   0  1
11   1   1   1   1  1
12   1   0   1   1  1
13   1   0   1   1  1
14   1   1   0   0  1
15   0   0   0   0  0
16   1   0   1   1  1
17   1   0   0   0  1
18   1   1   0   1  1
19   1   1   1   1  0
20   1   0   1   0  0
21   1   0   0   1  1
22   0   1   0   0  1
23   1   0   0   0  1
24   0   1   0   0  0
25   1   0   1   0  0
26   1   1   0   0  0
27   0   1   0   1  0
28   0   0   0   0  0
29   0   1   1   0  1
30   1   0   0   0  0
31   0   0   0   0  1
32   0   1   0   1  1
33   1   0   0   0  1
34   0   1   1   1  0
35   0   0   1   1  1
36   0   0   0   0  1
37   1   1   1   0  1
38   0   1   0   1  0
39   0   1   0   0  1
40   0   1   0   1  1
41   0   1   0   1  1
42   0   1   0   1  0
43   1   0   0   0  1
44   1   1   0   1  0
45   1   1   1   1  1
46   1   0   0   1  1
47   1   1   1   0  0
48   1   1   0   1  1
49   0   1   0   1  0

In [4]:
y_proba=pd.DataFrame(df.groupby('y').count()['x1'])

In [5]:
y_proba

   x1
y
0  20
1  30

In [6]:
y_proba.reset_index(inplace=True)

In [7]:
y_proba

   y  x1
0  0  20
1  1  30

In [8]:
y_proba.columns=['y','freq']

In [9]:
y_proba

   y  freq
0  0    20
1  1    30

In [10]:
y_proba['proba']=[20/50,30/50]

In [11]:
y_proba

   y  freq  proba
0  0    20    0.4
1  1    30    0.6

In [12]:
pd.crosstab(df['x1'],df['y'])

y    0   1
x1
0    9  11
1   11  19

In [13]:
y_proba_x1=pd.crosstab(df['x1'],df['y'])
y_proba_x1.reset_index(inplace=True)
y_proba_x1.columns=['value of x1',0,1]

In [21]:
y_proba_x1['proba of 0']=[9/20,11/20]
y_proba_x1['proba of 1']=[11/30,19/30]

In [22]:
y_proba_x1

   value of x1   0   1  proba of 0  proba of 1
0            0   9  11        0.45    0.366667
1            1  11  19        0.55    0.633333

In [23]:
y_proba_x2=pd.crosstab(df['x2'],df['y'])
y_proba_x2.reset_index(inplace=True)
y_proba_x2.columns=['value of x2',0,1]

In [24]:
y_proba_x2

   value of x2   0   1
0            0   9  15
1            1  11  15

In [25]:
y_proba_x2['proba of 0']=[9/20,11/20]
y_proba_x2['proba of 1']=[15/30,15/30]

In [26]:
y_proba_x2

   value of x2   0   1  proba of 0  proba of 1
0            0   9  15        0.45         0.5
1            1  11  15        0.55         0.5

In [27]:
y_proba_x3=pd.crosstab(df['x3'],df['y'])
y_proba_x3.reset_index(inplace=True)
y_proba_x3.columns=['value of x3',0,1]

In [28]:
y_proba_x3

   value of x3   0   1
0            0  12  21
1            1   8   9

In [29]:
y_proba_x3['proba of 0']=[12/20,8/20]
y_proba_x3['proba of 1']=[21/30,9/30]

In [30]:
y_proba_x3

   value of x3   0   1  proba of 0  proba of 1
0            0  12  21         0.6         0.7
1            1   8   9         0.4         0.3

In [31]:
y_proba_x4=pd.crosstab(df['x4'],df['y'])
y_proba_x4.reset_index(inplace=True)
y_proba_x4.columns=['value of x4',0,1]

In [32]:
y_proba_x4

   value of x4   0   1
0            0  10  15
1            1  10  15

In [33]:
y_proba_x4['proba of 0']=[10/20,10/20]
y_proba_x4['proba of 1']=[15/30,15/30]

In [34]:
y_proba_x4

   value of x4   0   1  proba of 0  proba of 1
0            0  10  15         0.5         0.5
1            1  10  15         0.5         0.5

In [35]:
y_proba_x3

   value of x3   0   1  proba of 0  proba of 1
0            0  12  21         0.6         0.7
1            1   8   9         0.4         0.3

In [36]:
y_proba_x2

   value of x2   0   1  proba of 0  proba of 1
0            0   9  15        0.45         0.5
1            1  11  15        0.55         0.5

In [37]:
y_proba_x1

   value of x1   0   1  proba of 0  proba of 1
0            0   9  11        0.45    0.366667
1            1  11  19        0.55    0.633333

In [38]:
# x1=0,x2=1,x3=1,x4=0 --- New Customer :

In [ ]:
P(1/ x1=0,x2=1,x3=1,x4=0 ) ---x

In [ ]:
P(0/ x1=0,x2=1,x3=1,x4=0 ) ----y

In [ ]:
if x>y : Pays EMI Else Not Paying EMI

In [ ]:
((p(x1=0/1)*p(x2=1/1)*p(x3=1/1)*p(x4=0/1))*p(1))

In [ ]:
((p(x1=0/0)*p(x2=1/0)*p(x3=1/0)*p(x4=0/0))*p(0))

In [41]:
x=0.36667*0.5*0.5*0.3*0.6

In [42]:
y=0.55*0.45*0.4*0.5*0.4

In [43]:
if x>y:
    print("pays emi")
else:
    print("Not Paying EMI")

Not Paying EMI

In [45]:
x1=1,x2=0,x3=1,x4=0 ....what will be the value of y?

SyntaxError: can't assign to literal (<ipython-input-45-b785e5d4b8ff>, line 1)

In [ ]:
### priori probabilities

In [ ]:
p(1/x1=1,x2=0,x3=1,x4=0)

In [ ]:
p(0/x1=1,x2=0,x3=1,x4=0)

In [ ]:
(p(x1=1/1)*p(x2=0/1)*p(x3=1/1)*p(x4=0/1)*p(1))/p(x1,x2,x3,x4)

In [ ]:
(p(x1=1/0)*p(x2=0/0)*p(x3=1/0)*p(x4=0/0)*p(0))/p(x1,x2,x3,x4)

In [50]:
p_yes=0.5*0.42*0.5384*0.46*0.52

In [52]:
p_no=0.375*0.4583*0.375*0.375*0.48

In [53]:
p_yes/(p_yes+p_no)

0.6998180781256326

In [54]:
p_no/(p_yes+p_no)

0.3001819218743673

In [ ]:
    w1 w2 w3 w4 sentiment
r1
r2
r3
r4

In [ ]:
from sklearn.naive_bayes import BernoulliNB
bn=BernoulliNB()
bn.fit()
bn.predict()